.home-container {
  text-align: center;
  padding: 50px 20px;
}

.main-title {
  font-size: 36px;  // Увеличим размер заголовка
  font-weight: 700;
  color: #F43F5E;  // Красный акцентный цвет
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #8D8B91;  // Нейтральный серый цвет
}
